.top {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  .dnd-wrap {
    width: 200px;
    padding: 16px;
    border: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    border: 1px solid red;
    .dnd-rect {
      width: 100px;
      height: 40px;
      border: 2px solid #31d0c6;
      text-align: center;
      line-height: 40px;
      margin: 16px;
      cursor: move;
    }

    .dnd-circle {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      border: 2px solid #31d0c6;
      text-align: center;
      line-height: 60px;
      margin: 16px;
      cursor: move;
    }
  }
}
#miniMap {
  position: absolute;
  right: 0;
  top: 0;
}
.paint {
  background-color: gainsboro;
  width: 1000px;
  height: 600px;
  position: relative;
  &-node {
    width: 100px;
    height: 100px;
    background-color: #29e;
    border-radius: 0.75em;
    position: relative;
    user-select: none;
    cursor: pointer;
    &-left,
    &-right {
      position: absolute;
      border-radius: 0.75em;
      width: 20px;
      &-single {
        width: 20px;
        height: 20px;
        border-radius: 0.75em;
      }
    }
    &-left {
      left: -20px;
      &-single {
        background-color: rgba(133, 238, 34, 0.729);
      }
    }
    &-right {
      right: -20px;
      &-single {
        background-color: rgba(238, 34, 187, 0.729);
      }
    }
  }
  &-list {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    background-color: #29e;
    color: white;
  }
}
